/* Remove the white space that was above the top div */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.background {
  height: 100vh;
  background-color: #FFDAB9;
}

.text {
  color: #000000;
}

.btnlabel {
  text-align: center;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
}

.label {
  text-align: center;
  top: 50%;
  transform: translateY(50%);
}

/* Login/Register screen css */

.logo-login {
  background-color: #ffffff;
  position: fixed;
  top: 5%;
  left: 50%;
  display: flex;
  transform: translate(-50%,0);
  border-radius: 50%;
  overflow: hidden;
}

.login-div {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 550px;
  width: 440px;
  transform: translate(-50%,-30%);
  border-radius: 30px 30px 45px 45px;
  overflow: hidden;
}

.login-button {
  background-color: #3590d5;
  float: left;
  height: 10%;
  width: 50%;
  border-radius: 30px 0px 0px;
  text-align: center;
}

.register-button {
  background-color: #ffffff;
  float: right;
  height: 10%;
  width: 50%;
  border-radius: 0px 30px 0px 0px;
  text-align: center;
}

.login {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: block;
}

.register {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: none;
}

/* Home screen css */

.title-bar {
  background-color: #a9a9a9;
  height: 7.5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.title-logo {
  float: left;
  display: flex;
  align-items: center;
  margin: 20px;
}

.title {
  float: right;
}

.logo {
  float: left;
}

.logo-home {
  background-color: #ffffff;
  display: flex;
  margin-left: 20px;
  transform: translate(-50%,0);
  border-radius: 50%;
  overflow: hidden;
}

.setting-button {
  float: right;
  margin-right: 20px;
}

.welcome-user {
  margin: 0 auto;
}

.setting-drop{
  font-size: 16px;
  padding: 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  font-size: 100%;
  text-align: center;
  margin-right: 5px;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 15px 15px 15px 15px;
  cursor: text;
}

.search-button {
  font-size: large;
  padding: 1%;
  border-radius: 30px 30px 30px 30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
} 

.search-button:hover {
  background-color: lightgray;
}

/* Div that contains the pantry/grocery div and the recipe div */
.content {
  height: fill;
}

/* Pantry/Grocery CSS */

.pan-gro {
  height: 100%;
  width: 33%;
  float: left;
}

.pan-gro-ui {
  background-color: #3590d5;
  height: 85%;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 50px;
  border-radius: 30px 30px 45px 45px;
}

.pan-button {
  background-color: #3590d5;
  float: left;
  height: 10%;
  width: 50%;
  border-radius: 30px 0px 0px;
  cursor: pointer;
}

.gro-button {
  background-color: #ffffff;
  float: right;
  height: 10%;
  width: 50%;
  border-radius: 0px 30px 0px 0px;
  text-align: center;
  cursor: pointer;
}

.search {
  height: 5%;
  clear:left;
}

.pan-gro-item {
  height: 85%;
  clear: left;
  border-radius: 0px 0px 45px 45px;
  overflow: hidden;
}

.pan-item {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: block;
}

.gro-item {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: none;
}

.add-pan {
  display: block;
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-gro {
  display: none;
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-gro:hover, .add-pan:hover {
  background-color: lightgray;
}

/* RECIPE CSS */

.recipe {
  height: 100%;
  width: 67%;
  float: right;
}

.recipe-ui {
  background-color: #3590d5;
  height: 85%;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 50px;
  border-radius: 30px 30px 45px 45px;
}

.recipe-header {
  background-color: #3590d5;
  height: 10%;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
}

.recipe-item {
  background-color: #3590d5;
  height: 85%;
  border-radius: 0px 0px 45px 45px;
}

.add-Recipe {
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-Recipe:hover {
  background-color: lightgray;
}

/* ====================== */
/* Dropdown Button */
.setting-drop {
  background-color: #3590d5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.setting-drop:hover, .setting-drop:focus {
  background-color: #3498DB;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.drop-button {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}