/* Remove the white space that was above the top div */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.background {
  height: 100vh;
  background-image: url('../src/images/table2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.text {
  color: #000000;
}

.btnlabel {
  text-align: center;
  justify-content: center;
  top: 50%;
  transform: translateY(25%);
  cursor: pointer;
}

.label {
  text-align: center;
  top: 50%;
  transform: translateY(50%);
}

.input-text {
  width: 90%;
  min-height: 40%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  transform: translateX(5%);
  border-radius: 60px;
  padding: 10px;
  margin-top: 10px;
}

.input {
  background: none;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
}

.button {
  height:40px;
  width: 20%;
  border-radius: 60px;
  margin-top: 10px;
  transform: translateX(200%);
}

.button:hover {
  background-color: lightgray;
}

/* Login/Register screen css */

.logo-login {
  background-color: #ffffff;
  position: fixed;
  top: 5%;
  left: 50%;
  display: flex;
  transform: translate(-50%,0);
  border-radius: 50%;
  overflow: hidden;
}

.login-div {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 55%;
  width: 20%;
  transform: translate(-50%,-30%);
  border-radius: 30px 30px 45px 45px;
  overflow: hidden;
}

.login-button {
  background-color: #3590d5;
  float: left;
  height: 10%;
  width: 50%;
  border-radius: 30px 0px 0px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.register-button {
  background-color: #ffffff;
  float: right;
  height: 10%;
  width: 50%;
  border-radius: 0px 30px 0px 0px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.login {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: block;
}

.register {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: none;
}

.forgot-pass {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: none;
}

.forgot {
  cursor: pointer;
  margin-left: 33%;
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding: 14px 0px;
  text-decoration: underline;
}

/* Home screen css */

.title-bar {
  background-color: #a9a9a9;
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.title-logo {
  float: left;
  display: flex;
  align-items: center;
  margin: 20px;
}

.title {
  float: right;
}

.logo {
  float: left;
}

.logo-home {
  background-color: #ffffff;
  display: flex;
  margin-left: 20px;
  transform: translate(-50%,0);
  border-radius: 50%;
  overflow: hidden;
}

.EasterEgg {
  display: none;
}

.logo-home:hover .EasterEgg{
  display: block;
}

.logo-home:hover .OrgLogo{
  display: none;
}

.logo-recipe {
  background-color: #ffffff;
  transform: translate(-50%,0);
  overflow: hidden;
}

.setting-button {
  float: right;
  margin-right: 20px;
}

.welcome-user {
  margin: 0 auto;
}

.setting-drop{
  font-size: 16px;
  padding: 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  font-size: 100%;
  text-align: center;
  margin-right: 5px;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 15px 15px 15px 15px;
  cursor: text;
}

.search-button {
  font-size: large;
  padding: 1%;
  border-radius: 30px 30px 30px 30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
} 

.search-button:hover {
  background-color: lightgray;
}

/* Div that contains the pantry/grocery div and the recipe div */
.content {
  height: fill;
}

/* Pantry/Grocery CSS */

.pan-gro {
  height: 100%;
  width: 33%;
  float: left;
}

.pan-gro-ui {
  background-color: #3590d5;
  height: 85%;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 50px;
  border-radius: 30px 30px 45px 45px;
}

.pan-button {
  background-color: #3590d5;
  float: left;
  height: 10%;
  width: 50%;
  border-radius: 30px 0px 0px;
  cursor: pointer;
}

.gro-button {
  background-color: #ffffff;
  float: right;
  height: 10%;
  width: 50%;
  border-radius: 0px 30px 0px 0px;
  text-align: center;
  cursor: pointer;
}

.search {
  height: 5%;
  clear:left;
}

.pan-gro-item {
  height: 85%;
  clear: left;
  border-radius: 0px 0px 45px 45px;
  overflow: hidden;
}

.pan-item {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: block;
}

.gro-item {
  background-color: #3590d5;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  display: none;
}

.add-pan {
  display: block;
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-gro {
  display: none;
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-gro:hover, .add-pan:hover {
  background-color: lightgray;
}

/* RECIPE CSS */

.recipe {
  height: 100%;
  width: 67%;
  float: right;
}

.recipe-ui {
  background-color: #3590d5;
  height: 85%;
  width: 85%;
  margin-top: 50px;
  transform: translateX(-15%);
  border-radius: 30px 30px 45px 45px;
  overflow: auto;
  overflow-x: hidden;
}

.recipe-header {
  background-color: #3590d5;
  height: 10%;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
}

.recipe-item {
  background-color: #ffffff;
  display: table-cell;
  text-align: center;
  width: 45%;
  height: 95px;
  float: left;
  border-radius: 15px;
  vertical-align: center;
  float: inline-end;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 25px;
}

.recipe-item:hover{
  background-color: #f2f2f2;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.recipe-name {
  font-size: x-large;
}

.add-Recipe {
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.add-Recipe:hover {
  background-color: lightgray;
}

/* ====================== */
/* Dropdown Button */
.setting-drop {
  background-color: #3590d5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.setting-drop:hover, .setting-drop:focus {
  background-color: #3498DB;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.drop-button {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; 
}

/* Add Item to pantry/grocery dropdown */

.dropItem {
  display: block;
  border-radius: 50px;
  font-size: x-large;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.dropItem:hover, .dropItem:focus{
  background-color: lightgray;
}

.addItem-drop {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.addItem-drop a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}

.item{
  display: block;
}

.recipe-title {
  margin-left: 10px;
  text-align: center;
}

.add-recipe {
  background-color: #3498DB;
  position:absolute;
  align-content: center;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  transform: translateY(100px);
  border-radius: 30px 30px 45px 45px;
}

label {
  font-size: 20px;
}

.add-Ing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantity{
  margin-right: 10px;
  margin-left: 10px;
}

.ingredient{
  margin-right: 10px;
  margin-left: 10px;
}

.X {
  font-size: medium;
}

#cookTime {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#prepTime {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.cuisine {
  margin-bottom: 10px;
}

#cuisine {
  text-align: center;
  margin-left: 10px;
}

.cook-time {
  margin-bottom: 10px;
}

.cook {
  margin-right: 10px;
}

.time {
  margin-left: 10px;
}

.prep-time{
  margin-bottom: 10px;
}

.ingredients {
  margin-bottom: 5px;
  margin-top: 5px;
}

.step {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons {
  margin: 10px;
}

.btn-add {
  margin-top:10px;
}

.list-recipes {
  background-color: #3498DB;
  height: auto;
  width: 500px;
  text-align: center;
  border-radius: 30px 30px 45px 45px;
  transform: translateX(730px);
}

.list-Ingredients {
  margin-top: 100px;
}

.list-Instructions {
  margin-top: 15px;
}
